<a href="https://colab.research.google.com/github/sofonic71/python_bracISD/blob/main/clas_3_tuple_dict_condition_basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
#set iteams are unordered, unchangable and duplicate not allow

a={"january","February","March","April","May",100,100.50,True, False}
print(type(a))
print(len(a))
print(a)

<class 'set'>
9
{False, True, 100, 100.5, 'April', 'February', 'March', 'january', 'May'}

In [17]:
#tuple
#tuples in Python are immutable, which means that once created, they cannot be changed. You cannot insert or delete elements from a tuple. 
#If you need a collection that allows for insertion and deletion, you should consider using a list instead. Lists are mutable, and you can add or remove elements from them.

a=("january","February","March","April","May",100,100.50,True, False)
print(type(a))
print(a)
print(len(a))

#cnverting tuple to list for modification 
b=list(a)
print(b)
b.insert(0,"Apple")
print(b)
b.remove("March")
print(b)
b.pop(1)
print(b)

#cnverting list to tuple after modification
a=tuple(b)
print(a)

<class 'tuple'>
('january', 'February', 'March', 'April', 'May', 100, 100.5, True, False)
9
['january', 'February', 'March', 'April', 'May', 100, 100.5, True, False]
['Apple', 'january', 'February', 'March', 'April', 'May', 100, 100.5, True, False]
['Apple', 'january', 'February', 'April', 'May', 100, 100.5, True, False]
['Apple', 'February', 'April', 'May', 100, 100.5, True, False]
('Apple', 'February', 'April', 'May', 100, 100.5, True, False)

In [29]:
#dictionary 
#Dictionaries are used to store data values in key:value pairs.
#Dictionary is ordered*, changeable and do not allow duplicates.

dict={
    'name':'hasan',
    'roll':56,
    'gpa':3.50
    }
print(dict)
print(dict['name'])
print(dict['roll'])
print(dict['gpa'])


#using get function

print(dict.get('name'),dict.get('roll'),dict.get('gpa'))

{'name': 'hasan', 'roll': 56, 'gpa': 3.5}
hasan
56
3.5
hasan 56 3.5

In [39]:
#if else condition_basic
a=input('Enter the value:')

if a=='10':
  print('value is 10')
else:
  print('value is not 10')

Enter the value:10
value is 10